# Autor: sookie-dev auf GitHub
# Dateien befinden sich unter https://github.homelab.global

[Unit]
Description=Cloudflare DynDNS Aktualisierungsdienst
After=network.target

[Service]
Type=simple
ExecStart=/data/scripte/dyndns_cloudflare.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
