# Autor: sookie-dev auf GitHub
# Dateien befinden sich unter https://github.homelab.global

[Unit]
Description=Modem External Access for Multiple WAN Interfaces
After=network.target
Wants=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/data/scripte/modem_access.sh start
ExecStop=/data/scripte/modem_access.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
